// *--------- COMMENTS ---------*
.comment {
    padding-bottom: 25px;
    border-bottom: 3px $generalBorderColor solid;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.comment-meta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    font-size: 14px;
}

.comment-avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.comment-user {
    margin-right: 10px;

    font-weight: bold;
}

.comment-date {
    color: #b9b9b9;
}

.comments-add {
    margin-top: 50px;
}
