// *--------- FOOTER ---------*
.mainFooter {
    padding: 60px 0;

    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

    p {
        display: inline-block;

        font: 700 12px/36px $mainFont;
        color: #bdc3c7;

        text-transform: uppercase;
    }

    nav {
        display: inline-block;

        ul {
            margin-left: 20px;

            li {
                display: inline-block;
                margin-right: 15px;
                line-height: 36px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #858585;
                    font: 700 13px/1 $mainFont;

                    &:hover,
                    &.is-active {
                        color: #fff;
                    }
                }
            }
        }
    }

    .author {
        float: right;

        font: 500 12px/36px $mainFont;
        color: #bdc3c7;
        text-transform: none;

        a {
            color: inherit;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}
