// ---------------------
//     GENERAL
// ---------------------

// *--------- BACKGROUNDS ---------*
$generalBgColor: #fff;
$generalLightBgColor: #f0f0f0;

// *--------- TEXT ---------*
$generalTextColor: #000;
$generalDarkTextColor: #000;

// *--------- LINKS ---------*
$generalLinkColor: #01579b;
$generalActiveLinkColor: #03a9f4;

// *--------- SELECTION ---------*
$generalSelectionTextColor: #fff;
$generalSelectionBgColor: #eeeeee;

// *--------- BORDERS ---------*
$generalBorderColor: #ecf0f1;
